# Sabermetrics - Code

The data set here is a data set of pitcher information combined with predictions on the IP (or _innings pitched_) and RA9 (or _runs allowed per 9 innings_). These predictions come from four different groups who all have different methods of calculating their predictions.

We have two data sets `train_saber.csv` and `test_saber.csv`. `train_saber.csv` are predictions for the 2012 season, which has already happened for Billy Beane, so we also have the realizations for IP and RA9 for the 2012 season. We are trying to predict the 2013 season. `test_saber.csv` has all of the currently available information that Billy Beane would have in making his hiring decisions, but it obviously does not have any data from the 2013 season.

Our job is to take a $15M budget and find two free agent pitchers to round out our starting rotation. We'll also assume that we're not trying to find the next phenom ace, but will be happy with two workhorse guys to go out, chew up some innings, and give good quality starts.

## Import Packages and Data

In [279]:
import numpy as np # Library for math operations
import pandas as pd # Library for data handling
import sklearn # The machine learning library we will be using in this entire course
from sklearn import tree # Tree function is used for visualizing decision tree
from sklearn.metrics import * # Importing function that can be used to calculate different metrics
from sklearn.tree import DecisionTreeClassifier # Importing Decision Tree Classifier 
from sklearn.ensemble import RandomForestClassifier  # Importing Random Forest Classifier 
from sklearn.model_selection import train_test_split # Importing function that can split a dataset into training and testing set
from sklearn.preprocessing import MinMaxScaler # Importing function for scaling the data
from sklearn.preprocessing import LabelEncoder # Importing function for processing the labels
from sklearn.ensemble import GradientBoostingClassifier # Importing GB Classifier
from sklearn.model_selection import GridSearchCV # Importing GridSearchCV
from sklearn.model_selection import RandomizedSearchCV # Importing RandomSearchCV
import xgboost as xgb
from xgboost import XGBClassifier # Importing the XGBoost Classifier 
from xgboost import XGBRegressor # Importing the XGBoost Regressor

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_squared_log_error, make_scorer
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, GridSearchCV

import matplotlib.pyplot as plt # Importing the package for plotting
plt.style.use('fivethirtyeight') # Use the styling from FiveThirtyEight Website
import seaborn as sns # Importing another package for plotting

In [621]:
train_df = pd.read_csv("train_saber.csv")

In [622]:
test_df = pd.read_csv("test_saber.csv")

In [82]:
display(test_df.head(3))

,NAME,IP_fans,RA9_fans,IP_marcel,RA9_marcel,IP_rotochamp,RA9_rotochamp,IP_zips,RA9_zips,playerID,...,bats,throws,debut,finalGame,retroID,bbrefID,deathDate,birthDate,IP,RA9
0,Aaron Crow,66,3.538949,63.7,3.843843,60,3.593394,64.0,4.137848,crowaa01,...,R,R,2011-03-31,NaN,crowa001,crowaa01,NaN,1986-11-10,NaN,NaN
1,Adam Wainwright,215,3.462725,159.3,3.996290,195,3.462725,173.7,3.724063,wainwad01,...,R,R,2005-09-11,NaN,waina001,wainwad01,NaN,1981-08-30,NaN,NaN
2,Addison Reed,61,3.789397,53.3,4.595189,60,4.246739,66.7,4.257628,reedad01,...,L,R,2011-09-04,NaN,reeda001,reedad01,NaN,1988-12-27,NaN,NaN

In [8]:
display(test_df.head(3))

,NAME,IP_fans,RA9_fans,IP_marcel,RA9_marcel,IP_rotochamp,RA9_rotochamp,IP_zips,RA9_zips,playerID,...,bats,throws,debut,finalGame,retroID,bbrefID,deathDate,birthDate,IP,RA9
0,Aaron Crow,66,3.538949,63.7,3.843843,60,3.593394,64.0,4.137848,crowaa01,...,R,R,2011-03-31,9/28/2014,crowa001,crowaa01,NaN,1986-11-10,48.000000,3.562500
1,Adam Wainwright,215,3.462725,159.3,3.996290,195,3.462725,173.7,3.724063,wainwad01,...,R,R,2005-09-11,9/22/2014,waina001,wainwad01,NaN,1981-08-30,241.666667,3.091034
2,Addison Reed,61,3.789397,53.3,4.595189,60,4.246739,66.7,4.257628,reedad01,...,L,R,2011-09-04,9/27/2014,reeda001,reedad01,NaN,1988-12-27,71.333333,3.911215

In [9]:
def summarize_dataframe(df):
    """Summarize a dataframe, and report missing values."""
    missing_values = pd.concat([pd.DataFrame(df.columns, columns=['Variable Name']), 
                      pd.DataFrame(df.dtypes.values.reshape([-1,1]), columns=['Data Type']),
                      pd.DataFrame(df.isnull().sum().values, columns=['Missing Values']), 
                      pd.DataFrame([df[name].nunique() for name in df.columns], columns=['Unique Values'])], 
                     axis=1).set_index('Variable Name')
    with pd.option_context("display.max_rows", 1000):
        display(pd.concat([missing_values, df.describe(include='all').transpose()], axis=1).fillna(""))

In [557]:
summarize_dataframe(X_train)

,Data Type,Missing Values,Unique Values,count,unique,top,freq,mean,std,min,25%,50%,75%,max
BAOpp,float64,0,70,119.0,,,,0.259176,0.032048,0.171,0.24,0.256,0.273,0.376
BB,int64,0,64,119.0,,,,44.495798,22.122109,1.0,29.0,46.0,58.0,105.0
BFP,int64,0,110,119.0,,,,607.134454,262.689058,24.0,425.5,728.0,823.5,956.0
BK,int64,0,5,119.0,,,,0.495798,0.811715,0.0,0.0,0.0,1.0,4.0
CG,int64,0,7,119.0,,,,0.806723,1.202239,0.0,0.0,0.0,1.0,6.0
ER,int64,0,69,119.0,,,,64.352941,27.681172,3.0,42.0,70.0,82.5,118.0
ERA,float64,0,98,119.0,,,,4.218403,1.203247,1.67,3.385,4.02,4.85,8.28
G,int64,0,34,119.0,,,,24.588235,9.548637,1.0,18.5,29.0,32.0,38.0
GF,int64,0,9,119.0,,,,0.394958,1.530584,0.0,0.0,0.0,0.0,10.0
GS,int64,0,32,119.0,,,,23.428571,9.814009,1.0,16.0,28.0,32.0,34.0
H,int64,0,96,119.0,,,,140.352941,60.156095,5.0,95.0,159.0,187.5,228.0
HBP,int64,0,15,119.0,,,,4.815126,3.562913,0.0,2.0,4.0,7.5,14.0
HR,int64,0,34,119.0,,,,16.714286,8.513342,0.0,10.5,17.0,23.0,39.0
IBB,int64,0,10,119.0,,,,2.218487,2.155638,0.0,0.0,2.0,3.0,10.0
IP_fans,int64,0,82,119.0,,,,175.857143,35.18433,66.0,159.0,175.0,203.0,242.0
IP_marcel,int64,0,78,119.0,,,,147.285714,38.366242,41.0,124.5,151.0,178.5,208.0
IP_rotochamp,int64,0,22,119.0,,,,170.420168,36.71685,60.0,155.0,175.0,200.0,220.0
IP_zips,float64,0,103,119.0,,,,159.212605,34.806289,71.3,137.3,158.3,183.5,237.3
IPouts,int64,0,109,119.0,,,,432.05042,191.828616,15.0,303.0,511.0,575.5,715.0
L,int64,0,18,119.0,,,,8.243697,3.968021,0.0,6.0,9.0,11.0,17.0
R,int64,0,71,119.0,,,,69.386555,29.655968,4.0,47.0,76.0,88.0,127.0
RA9_fans,float64,0,86,119.0,,,,4.189791,0.53602,2.875422,3.804741,4.242068,4.548197,5.444716
RA9_marcel,float64,0,89,119.0,,,,4.167741,0.52632,2.897289,3.766475,4.242068,4.586463,5.291652
RA9_rotochamp,float64,0,84,119.0,,,,4.187402,0.619352,2.514628,3.793808,4.209269,4.662995,5.783644
RA9_zips,float64,0,95,119.0,,,,4.37345,0.666785,2.777024,3.930473,4.416999,4.826992,6.341236
SF,int64,0,12,119.0,,,,3.764706,2.44154,0.0,2.0,4.0,6.0,11.0
SH,int64,0,18,119.0,,,,5.033613,3.978614,0.0,2.0,4.0,7.0,19.0
SHO,int64,0,5,119.0,,,,0.420168,0.797196,0.0,0.0,0.0,1.0,5.0
SO,int64,0,95,119.0,,,,115.672269,60.285073,5.0,67.5,119.0,160.0,239.0
SV,int64,0,2,119.0,,,,0.008403,0.09167,0.0,0.0,0.0,0.0,1.0
Starter,object,0,1,119.0,1,True,119,,,,,,,
W,int64,0,22,119.0,,,,9.176471,5.061733,0.0,5.0,10.0,13.0,21.0
WP,int64,0,16,119.0,,,,4.067227,3.438888,0.0,2.0,3.0,5.5,17.0
bats_B,uint8,0,2,119.0,,,,0.016807,0.12909,0.0,0.0,0.0,0.0,1.0
bats_L,uint8,0,2,119.0,,,,0.252101,0.436055,0.0,0.0,0.0,0.5,1.0
bats_R,uint8,0,2,119.0,,,,0.731092,0.445267,0.0,0.0,1.0,1.0,1.0
birthYear,int64,0,18,119.0,,,,1983.621849,3.859814,1973.0,1981.5,1984.0,1986.0,1991.0
height,int64,0,12,119.0,,,,75.058824,2.195118,70.0,74.0,75.0,76.0,81.0
lgID_AL,uint8,0,2,119.0,,,,0.428571,0.496964,0.0,0.0,0.0,1.0,1.0
lgID_NL,uint8,0,2,119.0,,,,0.571429,0.496964,0.0,0.0,1.0,1.0,1.0
stint,int64,0,1,119.0,,,,1.0,0.0,1.0,1.0,1.0,1.0,1.0
teamID_ARI,uint8,0,2,119.0,,,,0.033613,0.180994,0.0,0.0,0.0,0.0,1.0
teamID_ATL,uint8,0,2,119.0,,,,0.058824,0.236289,0.0,0.0,0.0,0.0,1.0
teamID_BAL,uint8,0,2,119.0,,,,0.016807,0.12909,0.0,0.0,0.0,0.0,1.0
teamID_BOS,uint8,0,2,119.0,,,,0.033613,0.180994,0.0,0.0,0.0,0.0,1.0
teamID_CHA,uint8,0,2,119.0,,,,0.033613,0.180994,0.0,0.0,0.0,0.0,1.0
teamID_CHN,uint8,0,2,119.0,,,,0.02521,0.157426,0.0,0.0,0.0,0.0,1.0
teamID_CIN,uint8,0,2,119.0,,,,0.042017,0.201476,0.0,0.0,0.0,0.0,1.0
teamID_CLE,uint8,0,2,119.0,,,,0.02521,0.157426,0.0,0.0,0.0,0.0,1.0
teamID_COL,uint8,0,2,119.0,,,,0.016807,0.12909,0.0,0.0,0.0,0.0,1.0
teamID_DET,uint8,0,2,119.0,,,,0.033613,0.180994,0.0,0.0,0.0,0.0,1.0
teamID_HOU,uint8,0,2,119.0,,,,0.016807,0.12909,0.0,0.0,0.0,0.0,1.0
teamID_KCA,uint8,0,2,119.0,,,,0.033613,0.180994,0.0,0.0,0.0,0.0,1.0
teamID_LAA,uint8,0,2,119.0,,,,0.016807,0.12909,0.0,0.0,0.0,0.0,1.0
teamID_LAN,uint8,0,2,119.0,,,,0.042017,0.201476,0.0,0.0,0.0,0.0,1.0
teamID_MIA,uint8,0,2,119.0,,,,0.033613,0.180994,0.0,0.0,0.0,0.0,1.0
teamID_MIL,uint8,0,2,119.0,,,,0.02521,0.157426,0.0,0.0,0.0,0.0,1.0
teamID_MIN,uint8,0,2,119.0,,,,0.016807,0.12909,0.0,0.0,0.0,0.0,1.0
teamID_NYA,uint8,0,2,119.0,,,,0.02521,0.157426,0.0,0.0,0.0,0.0,1.0
teamID_NYN,uint8,0,2,119.0,,,,0.033613,0.180994,0.0,0.0,0.0,0.0,1.0
teamID_OAK,uint8,0,2,119.0,,,,0.02521,0.157426,0.0,0.0,0.0,0.0,1.0
teamID_PHI,uint8,0,2,119.0,,,,0.042017,0.201476,0.0,0.0,0.0,0.0,1.0
teamID_PIT,uint8,0,2,119.0,,,,0.042017,0.201476,0.0,0.0,0.0,0.0,1.0
teamID_SDN,uint8,0,2,119.0,,,,0.033613,0.180994,0.0,0.0,0.0,0.0,1.0
teamID_SEA,uint8,0,2,119.0,,,,0.033613,0.180994,0.0,0.0,0.0,0.0,1.0
teamID_SFN,uint8,0,2,119.0,,,,0.042017,0.201476,0.0,0.0,0.0,0.0,1.0
teamID_SLN,uint8,0,2,119.0,,,,0.033613,0.180994,0.0,0.0,0.0,0.0,1.0
teamID_TBA,uint8,0,2,119.0,,,,0.05042,0.219736,0.0,0.0,0.0,0.0,1.0
teamID_TEX,uint8,0,2,119.0,,,,0.042017,0.201476,0.0,0.0,0.0,0.0,1.0
teamID_TOR,uint8,0,2,119.0,,,,0.042017,0.201476,0.0,0.0,0.0,0.0,1.0
teamID_WAS,uint8,0,2,119.0,,,,0.05042,0.219736,0.0,0.0,0.0,0.0,1.0
throws_L,uint8,0,2,119.0,,,,0.268908,0.445267,0.0,0.0,0.0,1.0,1.0
throws_R,uint8,0,2,119.0,,,,0.731092,0.445267,0.0,0.0,1.0,1.0,1.0
weight,int64,0,22,119.0,,,,216.764706,21.693046,170.0,205.0,215.0,227.5,285.0
yearID,int64,0,1,119.0,,,,2012.0,0.0,2012.0,2012.0,2012.0,2012.0,2012.0

In [88]:
summarize_dataframe(test_df)

,Data Type,Missing Values,Unique Values,count,unique,top,freq,mean,std,min,25%,50%,75%,max
NAME,object,0,119,119.0,119,Aaron Crow,1,,,,,,,
IP_fans,int64,0,80,119.0,,,,147.369748,59.680202,51.0,72.0,166.0,198.0,233.0
RA9_fans,float64,0,88,119.0,,,,3.86434,0.649077,2.450041,3.413724,3.800287,4.388296,5.128753
IP_marcel,float64,0,99,119.0,,,,127.807563,52.345926,34.0,66.15,146.0,173.5,204.3
RA9_marcel,float64,0,89,119.0,,,,4.046251,0.561659,2.754935,3.609728,4.061624,4.46452,5.477204
IP_rotochamp,int64,0,30,119.0,,,,137.647059,61.157007,25.0,65.0,160.0,195.0,220.0
RA9_rotochamp,float64,0,87,119.0,,,,3.918694,0.718133,1.676917,3.430058,3.920066,4.437297,5.488093
IP_zips,float64,0,105,119.0,,,,135.678992,54.751598,23.0,71.35,150.7,174.7,228.3
RA9_zips,float64,0,98,119.0,,,,4.161456,0.782862,1.709584,3.609728,4.148737,4.70408,6.184994
playerID,object,0,119,119.0,119,crowaa01,1,,,,,,,
yearID,int64,0,1,119.0,,,,2013.0,0.0,2013.0,2013.0,2013.0,2013.0,2013.0
stint,int64,0,1,119.0,,,,1.0,0.0,1.0,1.0,1.0,1.0,1.0
teamID,object,0,29,119.0,29,TOR,8,,,,,,,
lgID,object,0,2,119.0,2,NL,62,,,,,,,
W,float64,119,0,0.0,,,,,,,,,,
L,float64,119,0,0.0,,,,,,,,,,
G_13,float64,119,0,0.0,,,,,,,,,,
GS,float64,119,0,0.0,,,,,,,,,,
CG,float64,119,0,0.0,,,,,,,,,,
SHO,float64,119,0,0.0,,,,,,,,,,
SV,float64,119,0,0.0,,,,,,,,,,
IPouts,float64,119,0,0.0,,,,,,,,,,
H,float64,119,0,0.0,,,,,,,,,,
ER,float64,119,0,0.0,,,,,,,,,,
HR,float64,119,0,0.0,,,,,,,,,,
BB,float64,119,0,0.0,,,,,,,,,,
SO,float64,119,0,0.0,,,,,,,,,,
BAOpp,float64,119,0,0.0,,,,,,,,,,
ERA,float64,119,0,0.0,,,,,,,,,,
IBB,float64,119,0,0.0,,,,,,,,,,
WP,float64,119,0,0.0,,,,,,,,,,
HBP,float64,119,0,0.0,,,,,,,,,,
BK,float64,119,0,0.0,,,,,,,,,,
BFP,float64,119,0,0.0,,,,,,,,,,
GF,float64,119,0,0.0,,,,,,,,,,
R,float64,119,0,0.0,,,,,,,,,,
SH,float64,119,0,0.0,,,,,,,,,,
SF,float64,119,0,0.0,,,,,,,,,,
GIDP,float64,119,0,0.0,,,,,,,,,,
birthYear,int64,0,19,119.0,,,,1983.689076,3.982478,1969.0,1982.0,1984.0,1986.0,1991.0
birthMonth,int64,0,12,119.0,,,,6.87395,3.448298,1.0,4.0,7.0,9.5,12.0
birthDay,int64,0,31,119.0,,,,16.092437,9.190997,1.0,8.0,16.0,24.0,31.0
birthCountry,object,0,11,119.0,11,USA,95,,,,,,,
birthState,object,3,45,116.0,45,CA,21,,,,,,,
birthCity,object,0,107,119.0,107,San Diego,4,,,,,,,
deathYear,float64,119,0,0.0,,,,,,,,,,
deathMonth,float64,119,0,0.0,,,,,,,,,,
deathDay,float64,119,0,0.0,,,,,,,,,,
deathCountry,float64,119,0,0.0,,,,,,,,,,
deathState,float64,119,0,0.0,,,,,,,,,,
deathCity,float64,119,0,0.0,,,,,,,,,,
nameFirst,object,0,97,119.0,97,Chris,4,,,,,,,
nameLast,object,0,117,119.0,117,Bailey,2,,,,,,,
nameGiven,object,0,119,119.0,119,Aaron James,1,,,,,,,
weight,int64,0,20,119.0,,,,214.747899,19.439702,170.0,200.0,210.0,225.0,285.0
height,int64,0,11,119.0,,,,74.932773,2.208347,70.0,74.0,75.0,76.0,80.0
bats,object,0,3,119.0,3,R,84,,,,,,,
throws,object,0,2,119.0,2,R,86,,,,,,,
debut,object,0,115,119.0,115,2009-04-06,2,,,,,,,
finalGame,float64,119,0,0.0,,,,,,,,,,
retroID,object,0,119,119.0,119,crowa001,1,,,,,,,
bbrefID,object,0,119,119.0,119,crowaa01,1,,,,,,,
deathDate,float64,119,0,0.0,,,,,,,,,,
birthDate,object,0,117,119.0,117,1981-12-20,2,,,,,,,
IP,float64,119,0,0.0,,,,,,,,,,
RA9,float64,119,0,0.0,,,,,,,,,,
G_12,int64,0,43,119.0,,,,36.697479,17.870796,2.0,28.0,32.0,42.5,77.0

## Separate Out Starters from Closers

Since we only want to acquire starters, let's weed out closing pitchers from the dataset (pitchers who enter games in the 8th or 9th inning to get the last few batters out). This should improve our model's performance in predicting starter IP and RA9 since the trends between these groups are so different. We'll save discussions of teams using 'openers' for a different day...

In [623]:
# Create an Innings Pitched Per Game Feature
train_df['IPperG'] = train_df['IP'] / train_df['G']
train_df['IPperG_fans'] = train_df['IP_fans'] / train_df['G']
train_df['IPperG_marcel'] = train_df['IP_marcel'] / train_df['G']
train_df['IPperG_rotochamp'] = train_df['IP_rotochamp'] / train_df['G']
train_df['IPperG_zips'] = train_df['IP_zips'] / train_df['G']

In [624]:
# Differentiate Starters as pitching more than a certain number of innings per games on avg.
# We'll use 3 to exclude closers and leave the max number of pitchers available to us
minIP = 3

train_df['Starter'] = train_df['IPperG'].apply(lambda x: 1 if x >= minIP else 0)
train_df['Starter_fans'] = train_df['IPperG_fans'].apply(lambda x: 1 if x >= minIP else 0)
train_df['Starter_marcel'] = train_df['IPperG_marcel'].apply(lambda x: 1 if x >= minIP else 0)
train_df['Starter_rotochamp'] = train_df['IPperG_rotochamp'].apply(lambda x: 1 if x >= minIP else 0)
train_df['Starter_zips'] = train_df['IPperG_zips'].apply(lambda x: 1 if x >= minIP else 0)

In [625]:
# There aren't any games played in the 2013 dataset, so to get a rough categorization, we'll assume next year's IP will mirror last year's. 
# We may miss middle-reliever ready to move up or a pitcher coming back from an injury, but I think that's alright given our needs.
test_df = pd.merge(test_df, train_df[['playerID','G']], on="playerID", suffixes=('', '_12'))

In [626]:
# Calculate IP/G on test data
test_df['IPperG_fans'] = test_df['IP_fans'] / test_df['G_12']
test_df['IPperG_marcel'] = test_df['IP_marcel'] / test_df['G_12']
test_df['IPperG_rotochamp'] = test_df['IP_rotochamp'] / test_df['G_12']
test_df['IPperG_zips'] = test_df['IP_zips'] / test_df['G_12']

# Find starters in test data
test_df['Starter_fans'] = test_df['IPperG_fans'].apply(lambda x: 'True' if x >= minIP else 'False')
test_df['Starter_marcel'] = test_df['IPperG_marcel'].apply(lambda x: 'True' if x >= minIP else 'False')
test_df['Starter_rotochamp'] = test_df['IPperG_rotochamp'].apply(lambda x: 'True' if x >= minIP else 'False')
test_df['Starter_zips'] = test_df['IPperG_zips'].apply(lambda x: 'True' if x >= minIP else 'False')

In [627]:
# Take the widest possible prediction of who may be a starter in test data, if any models predict a starter we include them
test_df.loc[(test_df['Starter_fans'] == 'True') | (test_df['Starter_marcel'] == 'True') | (test_df['Starter_rotochamp'] == 'True') | (test_df['Starter_zips'] == 'True'), 'Starter'] = 1  
test_df.loc[(test_df['Starter_fans'] != 'True') & (test_df['Starter_marcel'] != 'True') & (test_df['Starter_rotochamp'] != 'True') & (test_df['Starter_zips'] != 'True'), 'Starter'] = 0

In [628]:
# Create new train/test datasets with only our predicted starters
starter_train_df = train_df.loc[(train_df['Starter']==1)]
starter_test_df = test_df.loc[(test_df['Starter']==1)]

In [540]:
display(starter_train_df.shape)
display(starter_train_df.head(5))

(119, 76)

,NAME,IP_fans,RA9_fans,IP_marcel,RA9_marcel,IP_rotochamp,RA9_rotochamp,IP_zips,RA9_zips,playerID,...,IPperG,IPperG_fans,IPperG_marcel,IPperG_rotochamp,IPperG_zips,Starter,Starter_fans,Starter_marcel,Starter_rotochamp,Starter_zips
1,Aaron Harang,164,4.602863,156,4.701261,180,4.646595,133.7,4.712194,haranaa01,...,5.795699,5.290323,5.032258,5.806452,4.312903,True,True,True,True,True
2,Adam Wainwright,196,3.443947,83,3.203417,175,3.771942,173.3,3.411148,wainwad01,...,6.208333,6.125000,2.593750,5.468750,5.415625,True,True,False,True,True
3,Alex Cobb,103,4.099937,86,4.176469,110,4.209269,122.0,4.351400,cobbal01,...,5.927536,4.478261,3.739130,4.782609,5.304348,True,True,True,True,True
10,Barry Zito,135,5.138588,103,4.537264,155,4.887125,124.0,4.679395,zitoba01,...,5.760417,4.218750,3.218750,4.843750,3.875000,True,True,True,True,True
11,Bartolo Colon,129,4.810593,139,4.668462,150,4.001538,112.7,4.624729,colonba01,...,6.347222,5.375000,5.791667,6.250000,4.695833,True,True,True,True,True

In [541]:
display(starter_test_df.shape)
display(starter_test_df.head(5))

(87, 76)

,NAME,IP_fans,RA9_fans,IP_marcel,RA9_marcel,IP_rotochamp,RA9_rotochamp,IP_zips,RA9_zips,playerID,...,G_12,IPperG_fans,IPperG_marcel,IPperG_rotochamp,IPperG_zips,Starter_fans,Starter_marcel,Starter_rotochamp,Starter_zips,Starter
1,Adam Wainwright,215,3.462725,159.3,3.996290,195,3.462725,173.7,3.724063,wainwad01,...,32,6.718750,4.978125,6.093750,5.428125,True,True,True,True,True
2,Alex Cobb,164,4.159626,133.7,4.181404,140,3.920066,149.3,4.529854,cobbal01,...,23,7.130435,5.813043,6.086957,6.491304,True,True,True,True,True
5,Andrew Cashner,130,3.985401,53.0,4.442742,70,3.636950,99.3,4.148737,cashnan01,...,33,3.939394,1.606061,2.121212,3.009091,True,False,False,True,True
8,Barry Zito,188,4.671412,155.7,4.725858,155,4.998085,135.7,4.693191,zitoba01,...,32,5.875000,4.865625,4.843750,4.240625,True,True,True,True,True
9,Bartolo Colon,135,4.322962,151.0,4.214071,120,4.410075,127.0,4.475409,colonba01,...,24,5.625000,6.291667,5.000000,5.291667,True,True,True,True,True

## Explore Feature Importance

In [ ]:
print(log_reg.summary())

In [ ]:
import statsmodels.api as sm

#define response variable
y = y_train_ip

#define predictor variables
x = X_train

#add constant to predictor variables
x = sm.add_constant(x)

#fit regression model
model = sm.OLS(y, x).fit()

#view summary of model fit
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     IP   R-squared:                       0.577
Model:                            OLS   Adj. R-squared:                  0.442
Method:                 Least Squares   F-statistic:                     4.252
Date:                Thu, 22 Jun 2023   Prob (F-statistic):           4.49e-11
Time:                        19:23:26   Log-Likelihood:                -948.25
No. Observations:                 182   AIC:                             1987.
Df Residuals:                     137   BIC:                             2131.
Df Model:                          44
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
IP_fans           0.3924      0.317      1.239      0.217      -0.234       1.019
RA9_fans        -22.9082     21.660     -1.058      0.292     -65.740      19.924
IP_marcel         0.1004      0.253      0.397      0.692      -0.400       0.601
RA9_marcel       10.4002     17.672      0.588      0.557     -24.546      45.346
IP_rotochamp     -0.0878      0.263     -0.334      0.739      -0.608       0.432
RA9_rotochamp     2.2311     12.297      0.181      0.856     -22.085      26.547
IP_zips           0.2080      0.282      0.737      0.462      -0.350       0.766
RA9_zips         -1.3414     17.552     -0.076      0.939     -36.049      33.366
yearID            0.7408      1.429      0.518      0.605      -2.085       3.567
birthYear        -0.6583      1.444     -0.456      0.649      -3.515       2.198
weight           -0.1707      0.250     -0.683      0.496      -0.665       0.324
height           -1.3226      2.162     -0.612      0.542      -5.598       2.953
Starter          48.4972     17.076      2.840      0.005      14.730      82.264
teamID_ARI      -12.9787     25.812     -0.503      0.616     -64.020      38.062
teamID_ATL       -7.2507     16.994     -0.427      0.670     -40.854      26.353
teamID_BAL      -15.0699     30.489     -0.494      0.622     -75.359      45.219
teamID_BOS       -4.6242     21.075     -0.219      0.827     -46.299      37.050
teamID_CHA       13.0657     22.777      0.574      0.567     -31.974      58.105
teamID_CHN      -19.8010     23.294     -0.850      0.397     -65.864      26.262
teamID_CIN       27.6294     16.473      1.677      0.096      -4.945      60.204
teamID_CLE       14.8763     22.745      0.654      0.514     -30.100      59.853
teamID_COL      -61.0591     36.063     -1.693      0.093    -132.371      10.253
teamID_DET       19.3635     19.316      1.002      0.318     -18.833      57.560
teamID_HOU       27.5295     35.540      0.775      0.440     -42.749      97.808
teamID_KCA       -6.9870     20.693     -0.338      0.736     -47.907      33.933
teamID_LAA        4.2121     29.009      0.145      0.885     -53.152      61.576
teamID_LAN        9.2073     19.923      0.462      0.645     -30.189      48.603
teamID_MIA       26.3324     24.628      1.069      0.287     -22.367      75.032
teamID_MIL      -25.8319     24.937     -1.036      0.302     -75.144      23.480
teamID_MIN      -26.3060     26.017     -1.011      0.314     -77.753      25.141
teamID_NYA        6.5630     20.079      0.327      0.744     -33.143      46.269
teamID_NYN      -10.0636     20.801     -0.484      0.629     -51.197      31.070
teamID_OAK      -12.3529     30.616     -0.403      0.687     -72.894      48.188
teamID_PHI       14.3653     20.065      0.716      0.475     -25.313      54.043
teamID_PIT       -4.1933     19.028     -0.220      0.826     -41.821      33.434
teamID_SDN      -10.1058     19.551     -0.517      0.606     -48.767      28.556
teamID_SEA       25.1839     22.968      1.096      0.275     -20.233      70.601
teamID_SFN       22.4124     18.674      1.200      0.232     -14.514      59.339
teamID_SLN       29.6951     20.665      1.437      0.153     -11.168      70.558
teamID_TBA        4.6899     17.446      0.269      0.788     -29.809      39.189
teamID_TEX      -21.2947     19.051     -1.118      0.266     -58.967      16.377
teamID_TOR       -0.3046     18.953     -0.016      0.987     -37.783      37.174
teamID_WAS       -6.9023     18.502     -0.373      0.710     -43.490      29.685
lgID_AL           1.0153      4.482      0.227      0.821      -7.847       9.877
lgID_NL          -1.0150      4.482     -0.226      0.821      -9.877       7.847
bats_B           13.6659     17.407      0.785      0.434     -20.756      48.087
bats_L           -2.9669     13.087     -0.227      0.821     -28.846      22.913
bats_R          -10.6986     10.574     -1.012      0.313     -31.609      10.212
throws_L         -2.3698      7.738     -0.306      0.760     -17.672      12.932
throws_R          2.3702      7.738      0.306      0.760     -12.932      17.672
==============================================================================
Omnibus:                       13.084   Durbin-Watson:                   1.825
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               13.896
Skew:                          -0.665   Prob(JB):                     0.000961
Kurtosis:                       3.255   Cond. No.                     1.80e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.56e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

BorutaShap analysis can help us narrow down which IVs are contributing most to predictions of IP and RA9 and point to potential features to be created in predicting our DVs.

In [25]:
# !pip install BorutaShap

Collecting BorutaShap
  Using cached BorutaShap-1.0.16-py3-none-any.whl (13 kB)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.10/site-packages (from BorutaShap) (3.5.3)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from BorutaShap) (1.9.1)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from BorutaShap) (4.64.1)
Requirement already satisfied: statsmodels in /opt/conda/lib/python3.10/site-packages (from BorutaShap) (0.13.2)
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (from BorutaShap) (1.4.4)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.10/site-packages (from BorutaShap) (0.12.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.10/site-packages (from BorutaShap) (1.1.2)
Requirement already satisfied: shap>=0.34.0 in /opt/conda/lib/python3.10/site-packages (from BorutaShap) (0.41.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from BorutaShap) (1.22.4)
Requirement already satisfied: slicer==0.0.7 in /opt/conda/lib/python3.10/site-packages (from shap>=0.34.0->BorutaShap) (0.0.7)
Requirement already satisfied: packaging>20.9 in /opt/conda/lib/python3.10/site-packages (from shap>=0.34.0->BorutaShap) (21.3)
Requirement already satisfied: numba in /opt/conda/lib/python3.10/site-packages (from shap>=0.34.0->BorutaShap) (0.55.2)
Requirement already satisfied: cloudpickle in /opt/conda/lib/python3.10/site-packages (from shap>=0.34.0->BorutaShap) (2.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib->BorutaShap) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib->BorutaShap) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib->BorutaShap) (4.37.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib->BorutaShap) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.10/site-packages (from matplotlib->BorutaShap) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib->BorutaShap) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas->BorutaShap) (2022.2.1)
Requirement already satisfied: joblib>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn->BorutaShap) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn->BorutaShap) (3.1.0)
Requirement already satisfied: patsy>=0.5.2 in /opt/conda/lib/python3.10/site-packages (from statsmodels->BorutaShap) (0.5.2)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from patsy>=0.5.2->statsmodels->BorutaShap) (1.16.0)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from numba->shap>=0.34.0->BorutaShap) (65.3.0)
Requirement already satisfied: llvmlite<0.39,>=0.38.0rc1 in /opt/conda/lib/python3.10/site-packages (from numba->shap>=0.34.0->BorutaShap) (0.38.1)
Installing collected packages: BorutaShap
Successfully installed BorutaShap-1.0.16

In [26]:
from BorutaShap import BorutaShap

# If no model is selected default is the Random Forest
# If classification is True it is a classification problem
Feature_Selector = BorutaShap(importance_measure='shap', classification=False)

### Data Prep

In [660]:
# Drop columns from the data that are either blank, don't influence our metrics of interest, or can't be calculated in 2013
drop_list = ['NAME',
            'playerID',
            'nameFirst',
            'nameLast',
            'nameGiven',
            'retroID',
            'bbrefID',
            'GIDP', 
            'debut',
             'stint',
            'birthDate',
            'birthCountry',
            'birthCity',
            'birthDay',
            'birthMonth',
            'finalGame',
            'birthState',
            'deathYear',
            'deathMonth',
            'deathDay',
            'deathCountry',
            'deathCity',
            'deathState',
            'deathDate',
            'Starter_fans',
            'Starter_zips',
            'Starter_marcel',
            'Starter_rotochamp',
            'IPperG_fans',
            'IPperG_marcel',
            'IPperG_zips',
            'IPperG_rotochamp',
             'yearID',
             'Starter',
             'teamID',
            'lgID',
            'bats',
            'throws'
            ]

X_train = starter_train_df.drop(drop_list,axis= 1)
X_train.drop(['IP','RA9','IPperG'],axis= 1,inplace=True) # Drop our DVs

y_train_IP = starter_train_df['IP'] # Create on DV for Innings Pitched
y_train_RA9 = starter_train_df['RA9'] # ...and another for Runs per 9 Innings

X_test = starter_test_df.drop(drop_list,axis= 1)
X_test.drop(['IP','RA9','G_12'],axis= 1,inplace=True) # Drop our DVs

y_test_ip = starter_test_df['IP']
y_test_ra9 = starter_test_df['RA9']

In [648]:
X_train.reset_index(drop=True, inplace=True)
y_train_ip.reset_index(drop=True, inplace=True)
y_train_ra9.reset_index(drop=True, inplace=True)

X_test.reset_index(drop=True, inplace=True)
y_test_ip.reset_index(drop=True, inplace=True)
y_test_ra9.reset_index(drop=True, inplace=True)

In [649]:
print(X_train.shape)
print(y_train_ip.shape)
print(y_train_ra9.shape)

print(X_test.shape)
print(y_test_ip.shape)
print(y_test_ra9.shape)

(119, 35)
(119,)
(119,)
(87, 35)
(87,)
(87,)

In [519]:
# Create a list for one hot encoding
enc_list = ['teamID',
'lgID',
'bats',
'throws']

In [229]:
def encode_and_bind(original_dataframe, enc_list):
    dummies = pd.get_dummies(data=original_dataframe, columns=enc_list)
    res = original_dataframe.merge(dummies, how='left')
    res = res.drop(enc_list, axis=1)
    return(res)

In [612]:
res_train = encode_and_bind(X_train, enc_list)
res_test = encode_and_bind(X_test, enc_list)

In [613]:
X_train_cat = X_train
X_test_cat = X_test

X_train = res_train
X_test = res_test

In [663]:
print(X_train.shape)
print(X_test.shape)

(119, 11)
(87, 11)

In [641]:
# Our number of columns aren't matching up because there are no Diamondbacks in the training data...
a = X_train.columns.difference(X_test.columns)
print (a)

Index([], dtype='object')

In [640]:
# So we'll add a column to reflect that
X_test['teamID_COL'] = 0

In [575]:
# Then alphabetize the columns so they match up
X_train = X_train.sort_index(axis=1)
X_test = X_test.sort_index(axis=1)

In [662]:
print(X_train.columns.tolist())

['IP_fans', 'RA9_fans', 'IP_marcel', 'RA9_marcel', 'IP_rotochamp', 'RA9_rotochamp', 'IP_zips', 'RA9_zips', 'birthYear', 'weight', 'height']

### IP

In [238]:
# What is most important in predicting IP?
Feature_Selector.fit(X=X_train, y=y_train_ip, n_trials=1000, random_state=0)

  0%|          | 0/1000 [00:00<?, ?it/s]

16 attributes confirmed important: ['HR', 'L', 'R', 'W', 'GS', 'IPperG_fans', 'G', 'SO', 'H', 'ER', 'IPperG_rotochamp', 'BB', 'IPperG_marcel', 'BFP', 'IPperG_zips', 'IPouts']
62 attributes confirmed unimportant: ['IP_marcel', 'SF', 'teamID_MIN', 'teamID_COL', 'teamID_TEX', 'RA9_fans', 'RA9_zips', 'height', 'RA9_marcel', 'teamID_SLN', 'BAOpp', 'BK', 'teamID_LAN', 'teamID_WAS', 'teamID_DET', 'SHO', 'CG', 'GF', 'birthYear', 'teamID_LAA', 'weight', 'teamID_BAL', 'teamID_KCA', 'bats_R', 'SH', 'teamID_CHA', 'IP_fans', 'yearID', 'teamID_SFN', 'bats_B', 'teamID_CLE', 'teamID_ARI', 'throws_R', 'teamID_TBA', 'stint', 'teamID_ATL', 'ERA', 'teamID_MIA', 'IP_rotochamp', 'IP_zips', 'SV', 'teamID_MIL', 'teamID_SDN', 'teamID_TOR', 'teamID_OAK', 'bats_L', 'RA9_rotochamp', 'teamID_BOS', 'teamID_NYN', 'teamID_NYA', 'lgID_NL', 'teamID_CHN', 'teamID_CIN', 'HBP', 'teamID_PIT', 'teamID_PHI', 'IBB', 'teamID_HOU', 'throws_L', 'lgID_AL', 'teamID_SEA', 'WP']
0 tentative attributes remains: []

In [240]:
# Create a features list of BShap importance, and comment out anything we don't have to use in test data
bshap_feats_ip = [
                  # 'HR', #home runs
                  # 'L', #losses
                  # 'R', #runs
                  # 'W', #wins
                  # 'GS', #games started
                  'IPperG_fans', 
                  # 'G', #games
                  # 'SO', #strike outs
                  # 'H', #hits
                  # 'ER', #earned runs
                  'IPperG_rotochamp', 
                  # 'BB', #base on balls
                  'IPperG_marcel', 
                  'BFP', #batters faced by pitcher
                  'IPperG_zips'
                  # 'IPouts' #outs pitched (IP x 3)
                 ]

In [420]:
# We don't have a BFP stat in test data, but we can make one
# IP is 3 outs, which is 3 batters, and RA9 divided by 9 is runs per inning. Each run started as a batter. 
# We won't count runners left stranded on base
# We'll watch for colinearity here but it'll be interesting to run some models with

X_train['BFP_fans'] = (X_train['RA9_fans']/9) + (X_train['IP_fans']*3)
X_train['BFP_marcel'] = (X_train['RA9_marcel']/9) + (X_train['IP_marcel']*3)
X_train['BFP_zips'] = (X_train['RA9_zips']/9) + (X_train['IP_zips']*3)
X_train['BFP_rotochamp'] = (X_train['RA9_rotochamp']/9) + (X_train['IP_rotochamp']*3)

X_test['BFP_fans'] = (X_test['RA9_fans']/9) + (X_test['IP_fans']*3)
X_test['BFP_marcel'] = (X_test['RA9_marcel']/9) + (X_test['IP_marcel']*3)
X_test['BFP_zips'] = (X_test['RA9_zips']/9) + (X_test['IP_zips']*3)
X_test['BFP_rotochamp'] = (X_test['RA9_rotochamp']/9) + (X_test['IP_rotochamp']*3)

### RA9

In [239]:
# What is most important in predicting RA9?
Feature_Selector.fit(X=X_train, y=y_train_ra9, n_trials=1000, random_state=0)

  0%|          | 0/1000 [00:00<?, ?it/s]

4 attributes confirmed important: ['ERA', 'BAOpp', 'IPperG_rotochamp', 'W']
74 attributes confirmed unimportant: ['IP_marcel', 'SF', 'teamID_COL', 'RA9_fans', 'height', 'teamID_SLN', 'teamID_LAN', 'GS', 'teamID_DET', 'G', 'CG', 'GF', 'SO', 'birthYear', 'weight', 'teamID_BAL', 'teamID_KCA', 'SH', 'IP_fans', 'throws_R', 'teamID_ARI', 'teamID_TBA', 'teamID_SDN', 'SV', 'teamID_NYA', 'teamID_PIT', 'throws_L', 'teamID_MIN', 'teamID_TEX', 'RA9_zips', 'RA9_marcel', 'BK', 'teamID_WAS', 'WP', 'SHO', 'teamID_LAA', 'ER', 'BB', 'bats_R', 'IPperG_zips', 'yearID', 'HR', 'teamID_CHA', 'IPperG_marcel', 'L', 'teamID_SFN', 'bats_B', 'teamID_CLE', 'teamID_ATL', 'H', 'teamID_MIA', 'IP_rotochamp', 'IP_zips', 'teamID_MIL', 'teamID_TOR', 'BFP', 'teamID_OAK', 'bats_L', 'IPouts', 'RA9_rotochamp', 'teamID_BOS', 'teamID_NYN', 'R', 'lgID_NL', 'teamID_CHN', 'teamID_CIN', 'HBP', 'teamID_PHI', 'IBB', 'teamID_HOU', 'lgID_AL', 'IPperG_fans', 'teamID_SEA', 'stint']
0 tentative attributes remains: []

## Train the Regressor

In [246]:
summarize_dataframe(X_test)

,Data Type,Missing Values,Unique Values,count,mean,std,min,25%,50%,75%,max
BAOpp,float64,87,0,0.0,,,,,,,
BB,float64,87,0,0.0,,,,,,,
BFP,float64,87,0,0.0,,,,,,,
BK,float64,87,0,0.0,,,,,,,
CG,float64,87,0,0.0,,,,,,,
ER,float64,87,0,0.0,,,,,,,
ERA,float64,87,0,0.0,,,,,,,
G,float64,87,0,0.0,,,,,,,
GF,float64,87,0,0.0,,,,,,,
GS,float64,87,0,0.0,,,,,,,
H,float64,87,0,0.0,,,,,,,
HBP,float64,87,0,0.0,,,,,,,
HR,float64,87,0,0.0,,,,,,,
IBB,float64,87,0,0.0,,,,,,,
IP_fans,int64,0,63,87.0,176.011494,39.816584,53.0,160.5,185.0,203.5,233.0
IP_marcel,float64,0,73,87.0,152.567816,37.75761,34.0,139.5,163.0,179.3,204.3
IP_rotochamp,int64,0,26,87.0,164.252874,47.700182,25.0,150.0,180.0,200.0,220.0
IP_zips,float64,0,76,87.0,162.213793,35.938139,23.0,144.5,167.0,186.35,228.3
IPouts,float64,87,0,0.0,,,,,,,
IPperG_fans,float64,0,81,87.0,7.820881,8.135858,3.029412,5.908088,6.363636,6.935484,59.5
IPperG_marcel,float64,0,83,87.0,6.309142,4.333711,1.606061,5.368622,5.62069,6.036364,38.15
IPperG_rotochamp,float64,0,64,87.0,7.44433,8.820212,1.666667,5.485893,6.129032,6.666667,70.0
IPperG_zips,float64,0,85,87.0,7.229617,8.234493,2.555556,5.286156,5.856667,6.639333,71.35
L,float64,87,0,0.0,,,,,,,
R,float64,87,0,0.0,,,,,,,
RA9_fans,float64,0,67,87.0,4.087032,0.566886,2.754935,3.680507,4.083402,4.535299,5.128753
RA9_marcel,float64,0,73,87.0,4.166885,0.555419,2.929161,3.75673,4.246739,4.562522,5.477204
RA9_rotochamp,float64,0,73,87.0,4.132716,0.635082,2.82027,3.642395,4.181404,4.546188,5.488093
RA9_zips,float64,0,72,87.0,4.387045,0.716693,2.787603,3.843843,4.355629,4.883749,6.184994
SF,float64,87,0,0.0,,,,,,,
SH,float64,87,0,0.0,,,,,,,
SHO,float64,87,0,0.0,,,,,,,
SO,float64,87,0,0.0,,,,,,,
SV,float64,87,0,0.0,,,,,,,
W,float64,87,0,0.0,,,,,,,
WP,float64,87,0,0.0,,,,,,,
bats_B,uint8,0,2,87.0,0.022989,0.150736,0.0,0.0,0.0,0.0,1.0
bats_L,uint8,0,2,87.0,0.287356,0.455153,0.0,0.0,0.0,1.0,1.0
bats_R,uint8,0,2,87.0,0.689655,0.465317,0.0,0.0,1.0,1.0,1.0
birthYear,int64,0,18,87.0,1983.896552,4.151308,1969.0,1983.0,1984.0,1987.0,1991.0
height,int64,0,11,87.0,75.091954,2.165438,70.0,74.0,75.0,76.0,80.0
lgID_AL,uint8,0,2,87.0,0.505747,0.502865,0.0,0.0,1.0,1.0,1.0
lgID_NL,uint8,0,2,87.0,0.494253,0.502865,0.0,0.0,0.0,1.0,1.0
stint,int64,0,1,87.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
teamID_ARI,uint8,0,2,87.0,0.034483,0.183523,0.0,0.0,0.0,0.0,1.0
teamID_ATL,uint8,0,2,87.0,0.057471,0.23409,0.0,0.0,0.0,0.0,1.0
teamID_BAL,uint8,0,2,87.0,0.022989,0.150736,0.0,0.0,0.0,0.0,1.0
teamID_BOS,uint8,0,2,87.0,0.022989,0.150736,0.0,0.0,0.0,0.0,1.0
teamID_CHA,uint8,0,2,87.0,0.034483,0.183523,0.0,0.0,0.0,0.0,1.0
teamID_CHN,uint8,0,2,87.0,0.034483,0.183523,0.0,0.0,0.0,0.0,1.0
teamID_CIN,uint8,0,2,87.0,0.057471,0.23409,0.0,0.0,0.0,0.0,1.0
teamID_CLE,uint8,0,2,87.0,0.022989,0.150736,0.0,0.0,0.0,0.0,1.0
teamID_COL,int64,0,1,87.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
teamID_DET,uint8,0,2,87.0,0.045977,0.210649,0.0,0.0,0.0,0.0,1.0
teamID_HOU,uint8,0,2,87.0,0.011494,0.107211,0.0,0.0,0.0,0.0,1.0
teamID_KCA,uint8,0,2,87.0,0.057471,0.23409,0.0,0.0,0.0,0.0,1.0
teamID_LAA,uint8,0,2,87.0,0.034483,0.183523,0.0,0.0,0.0,0.0,1.0
teamID_LAN,uint8,0,2,87.0,0.034483,0.183523,0.0,0.0,0.0,0.0,1.0
teamID_MIA,uint8,0,2,87.0,0.011494,0.107211,0.0,0.0,0.0,0.0,1.0
teamID_MIL,uint8,0,2,87.0,0.034483,0.183523,0.0,0.0,0.0,0.0,1.0
teamID_MIN,uint8,0,2,87.0,0.022989,0.150736,0.0,0.0,0.0,0.0,1.0
teamID_NYA,uint8,0,2,87.0,0.034483,0.183523,0.0,0.0,0.0,0.0,1.0
teamID_NYN,uint8,0,2,87.0,0.022989,0.150736,0.0,0.0,0.0,0.0,1.0
teamID_OAK,uint8,0,2,87.0,0.022989,0.150736,0.0,0.0,0.0,0.0,1.0
teamID_PHI,uint8,0,2,87.0,0.045977,0.210649,0.0,0.0,0.0,0.0,1.0
teamID_PIT,uint8,0,2,87.0,0.011494,0.107211,0.0,0.0,0.0,0.0,1.0
teamID_SDN,uint8,0,2,87.0,0.022989,0.150736,0.0,0.0,0.0,0.0,1.0
teamID_SEA,uint8,0,2,87.0,0.022989,0.150736,0.0,0.0,0.0,0.0,1.0
teamID_SFN,uint8,0,2,87.0,0.057471,0.23409,0.0,0.0,0.0,0.0,1.0
teamID_SLN,uint8,0,2,87.0,0.034483,0.183523,0.0,0.0,0.0,0.0,1.0
teamID_TBA,uint8,0,2,87.0,0.045977,0.210649,0.0,0.0,0.0,0.0,1.0
teamID_TEX,uint8,0,2,87.0,0.022989,0.150736,0.0,0.0,0.0,0.0,1.0
teamID_TOR,uint8,0,2,87.0,0.08046,0.273581,0.0,0.0,0.0,0.0,1.0
teamID_WAS,uint8,0,2,87.0,0.034483,0.183523,0.0,0.0,0.0,0.0,1.0
throws_L,uint8,0,2,87.0,0.310345,0.465317,0.0,0.0,0.0,1.0,1.0
throws_R,uint8,0,2,87.0,0.689655,0.465317,0.0,0.0,1.0,1.0,1.0
weight,int64,0,18,87.0,213.62069,18.656778,170.0,202.5,210.0,225.0,285.0
yearID,int64,0,1,87.0,2013.0,0.0,2013.0,2013.0,2013.0,2013.0,2013.0
BFP_fans,float64,0,87,87.0,528.488597,119.427826,159.418624,482.005737,555.429513,610.968835,699.3545
BFP_marcel,float64,0,86,87.0,458.166436,113.257555,102.480329,418.952501,489.481539,538.351897,613.25208
BFP_zips,float64,0,87,87.0,487.128829,107.792624,69.378698,433.948267,501.5868,559.549083,685.267809
BFP_rotochamp,float64,0,84,87.0,493.217811,143.077108,75.609788,450.490008,540.405315,600.438588,660.35087

In [661]:
# Test data doesn't yet include player stats, so we can only train the models on data shared by both train and test.
pred_drop_list = ['BAOpp', 'BB', 'BFP', 'BK', 'CG', 'ER', 'ERA', 'G', 'GF', 'GS', 'H', 'HBP', 'HR', 'IBB','IPouts','L', 'R', 'SF', 'SH', 'SHO', 'SO', 'SV', 'W', 'WP'
               ]

X_train.drop(pred_drop_list,axis= 1,inplace=True)
X_test.drop(pred_drop_list,axis= 1,inplace=True)

In [652]:
# Then alphabetize the columns so they match up
X_train = X_train.sort_index(axis=1)
X_test = X_test.sort_index(axis=1)

In [315]:
def RMSLE(y_true, y_pred):
    y_pred_use = y_pred.clip(0)
    rmsle = mean_squared_log_error(y_true, y_pred_use)**(1/2)
    return rmsle

def accuracy(y_true, y_pred):
    """Function that returns a table showing RMSE and MAE."""
    acc_df = pd.DataFrame(data = {"RMSE": [mean_squared_error(y_true, y_pred)**(1/2)],
                                  "MAE": [mean_absolute_error(y_true, y_pred)],
                                  "R^2": [r2_score(y_true, y_pred)],
                                  "RMSLE": [RMSLE(y_true, y_pred)]})
    display(acc_df.style.hide(axis='index'))

In [664]:
#Test and Train for IP
X_train, X_valid, y_train_ra9, y_valid_ra9 = train_test_split(X_train, y_train_RA9, test_size = 0.25, random_state = 201)

### Train Regressor w/ Hyperopt Tuning

In [318]:
# !pip install hyperopt

Collecting hyperopt
  Using cached hyperopt-0.2.7-py2.py3-none-any.whl (1.6 MB)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from hyperopt) (1.22.4)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from hyperopt) (1.16.0)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from hyperopt) (4.64.1)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from hyperopt) (1.9.1)
Requirement already satisfied: networkx>=2.2 in /opt/conda/lib/python3.10/site-packages (from hyperopt) (2.8.6)
Collecting py4j
  Using cached py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
Requirement already satisfied: cloudpickle in /opt/conda/lib/python3.10/site-packages (from hyperopt) (2.2.0)
Requirement already satisfied: future in /opt/conda/lib/python3.10/site-packages (from hyperopt) (0.18.3)
Installing collected packages: py4j, hyperopt
Successfully installed hyperopt-0.2.7 py4j-0.10.9.7

In [319]:
from hyperopt import fmin, hp, tpe, Trials, space_eval, STATUS_OK

#Import 'scope' from hyperopt in order to obtain int values for certain hyperparameters.
from hyperopt.pyll.base import scope

#Define the space over which hyperopt will search for optimal hyperparameters.
space = {'max_depth': scope.int(hp.randint("max_depth", 1, 5)),
        'gamma': hp.uniform ('gamma', 0,1),
        'reg_alpha' : hp.uniform('reg_alpha', 0,50),
        'reg_lambda' : hp.uniform('reg_lambda', 10,100),
        'colsample_bytree' : hp.uniform('colsample_bytree', 0,1),
        'min_child_weight' : hp.uniform('min_child_weight', 0, 5),
        'n_estimators': hp.randint('n_estimators', 100, 1000),
        'learning_rate': hp.uniform('learning_rate', 0, .15),
        'random_state': 5,
        'max_bin' : scope.int(hp.quniform('max_bin', 200, 550, 1))}

In [665]:
y_train = y_train_ra9
y_valid = y_valid_ra9

#Define the hyperopt objective.
def hyperparameter_tuning(space):
    model = xgb.XGBRegressor(**space)
    
    #Define evaluation datasets.
    evaluation = [(X_train, y_train), (X_valid, y_valid)]
    
    #Fit the model. Define evaluation sets, early_stopping_rounds, and eval_metric.
    model.fit(X_train, y_train,
            eval_set=evaluation, eval_metric="rmse",
            early_stopping_rounds=100,verbose=False)

    #Obtain prediction and rmse score.
    pred = model.predict(X_valid)
    rmse = mean_squared_error(y_valid, pred, squared=False)
    print ("SCORE:", rmse)
    
    #Specify what the loss is for each model.
    return {'loss':rmse, 'status': STATUS_OK, 'model': model}

In [666]:
#Run 100 trials.
trials = Trials()
best = fmin(fn=hyperparameter_tuning,
            space=space,
            algo=tpe.suggest,
            max_evals=100,
            trials=trials
           )

print(best)

SCORE:
0.9753643996531596
SCORE:
1.0485322378444981
SCORE:
1.089866588786647
SCORE:
0.9807709775290762
SCORE:
1.0234283616122022
SCORE:
0.9999038062399969
SCORE:
1.0295442114757012
SCORE:
0.9972948182223631
SCORE:
1.0174055664982544
SCORE:
0.977469707526157
SCORE:
1.0523678377788745
SCORE:
0.9976481023994661
SCORE:
1.0254823714777184
SCORE:
1.000320457709649
SCORE:
0.9665246967966595
SCORE:
1.1089348860137227
SCORE:
1.758102506378399
SCORE:
1.0304694388687075
SCORE:
1.0886673460490934
SCORE:
0.9936187605440385
SCORE:
0.9476398155085355
SCORE:
0.8911796340226728
SCORE:
0.9643903829493993
SCORE:
0.9516887282938936
SCORE:
0.9066334317468653
SCORE:
0.923247917521333
SCORE:
1.0359247424532971
SCORE:
0.9902205130515281
SCORE:
0.9216956145621987
SCORE:
0.9053825656576877
SCORE:
1.0005342386110234
SCORE:
1.0622793397427137
SCORE:
1.1113426871655867
SCORE:
0.9294487020413699
SCORE:
0.9867729133613907
SCORE:
1.0906575002011218
SCORE:
0.945169566022953
SCORE:
1.0595893089442345
SCORE:
1.0109335123023995
SCORE:
0.9805208816912726
SCORE:
1.03128488537996
SCORE:
0.9697611337777643
SCORE:
1.0172963267591895
SCORE:
1.0197122842147472
SCORE:
2.8807996243287013
SCORE:
0.9978392055056605
SCORE:
1.0092403610248255
SCORE:
1.0396629919408547
SCORE:
1.0675245754777518
SCORE:
1.1140932148190992
SCORE:
0.970073076251547
SCORE:
1.0537558890288126
SCORE:
1.0271125505925514
SCORE:
0.9867586226225704
SCORE:
0.9753973099175982
SCORE:
0.9444794928200745
SCORE:
1.0205919562036276
SCORE:
0.9944427118001807
SCORE:
1.044756322570753
SCORE:
0.9956822097722282
SCORE:
1.0258431646795971
SCORE:
0.9785058069984057
SCORE:
1.0081134778397398
SCORE:
1.0752586628975427
SCORE:
0.990933547955013
SCORE:
0.8933957848454016
SCORE:
0.9141621538113227
SCORE:
0.9001022677452639
SCORE:
0.9586952471195905
SCORE:
0.918767210471881
SCORE:
0.9164069832210137
SCORE:
0.9321779823507242
SCORE:
0.9905492465155297
SCORE:
0.926482741176015
SCORE:
0.9653462404747088
SCORE:
1.0039471822164874
SCORE:
1.020117971336819
SCORE:
0.9658509938117414
SCORE:
0.9470073498278194
SCORE:
0.9151049163048104
SCORE:
0.9869490756275816
SCORE:
0.9573478753764294
SCORE:
0.9814473552138006
SCORE:
1.0090056632964672
SCORE:
1.0128120445831816
SCORE:
0.9048173449011848
SCORE:
1.0676530691556665
SCORE:
0.9555898301203196
SCORE:
1.0377978364767253
SCORE:
1.070720585024473
SCORE:
1.0410335657345993
SCORE:
0.983351746575864
SCORE:
0.906839969491685
SCORE:
1.0499815472823653
SCORE:
1.0043625344136207
SCORE:
0.9999060661189392
SCORE:
0.9730952493235179
SCORE:
1.0238148317186746
SCORE:
1.0333139106464881
SCORE:
0.982365633570702
100%|██████████| 100/100 [00:08<00:00, 12.05trial/s, best loss: 0.8911796340226728]
{'colsample_bytree': 0.4960933598071299, 'gamma': 0.26722511300906576, 'learning_rate': 0.09866191748756506, 'max_bin': 435.0, 'max_depth': 1, 'min_child_weight': 1.5626244248189403, 'n_estimators': 217, 'reg_alpha': 0.464215205499495, 'reg_lambda': 11.942474187102448}

In [667]:
#Create instace of best model.
best_model = trials.results[np.argmin([r['loss'] for r in 
    trials.results])]['model']

#Examine model hyperparameters
print(best_model)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1,
             colsample_bytree=0.4960933598071299, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=0.26722511300906576, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.09866191748756506, max_bin=435,
             max_cat_threshold=64, max_cat_to_onehot=4, max_delta_step=0,
             max_depth=1, max_leaves=0, min_child_weight=1.5626244248189403,
             missing=nan, monotone_constraints='()', n_estimators=217, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=5, ...)

### Evaluate Model Performance

In [658]:
# Model for IP
xgb_model_ip = best_model
xgb_model_ip.fit(X_train, y_train)
xgb_pred_ip = xgb_model_ip.predict(X_valid)

In [659]:
print("Accuracy of Our Model is:")
accuracy(y_valid_ip, xgb_pred_ip)
print("Accuracy of IP_fans is:")
accuracy(starter_train_df["IP"], starter_train_df["IP_fans"])
print("Accuracy of IP_marcel is:")
accuracy(starter_train_df["IP"], starter_train_df["IP_marcel"])
print("Accuracy of IP_rotochamp is:")
accuracy(starter_train_df["IP"], starter_train_df["IP_rotochamp"])
print("Accuracy of IP_zips is:")
accuracy(starter_train_df["IP"], starter_train_df["IP_zips"])

Accuracy of Our Model is:

Accuracy of IP_fans is:

Accuracy of IP_marcel is:

Accuracy of IP_rotochamp is:

Accuracy of IP_zips is:

In [668]:
# Model for RA9
xgb_model_ra9 = best_model
xgb_model_ra9.fit(X_train, y_train)
xgb_pred_ra9 = xgb_model_ra9.predict(X_valid)

In [669]:
print("Accuracy of Our Model is:")
accuracy(y_valid_ra9, xgb_pred_ra9)
print("Accuracy of RA9_fans is:")
accuracy(starter_train_df["RA9"], starter_train_df["RA9_fans"])
print("Accuracy of RA9_marcel is:")
accuracy(starter_train_df["RA9"], starter_train_df["RA9_marcel"])
print("Accuracy of RA9_rotochamp is:")
accuracy(starter_train_df["RA9"], starter_train_df["RA9_rotochamp"])
print("Accuracy of RA9_zips is:")
accuracy(starter_train_df["RA9"], starter_train_df["RA9_zips"])

Accuracy of Our Model is:

Accuracy of RA9_fans is:

Accuracy of RA9_marcel is:

Accuracy of RA9_rotochamp is:

Accuracy of RA9_zips is:

## 2013 Predictions

In [366]:
# We've also got the real 2013 data to see how we did
Actual13_df = pd.read_csv("../Shared Data (Read Only)/Sabermetrics_SPF/test_saber_realization.csv")

In [429]:
free_agents = ["Andy Pettitte",
               "Bartolo Colon",
               "Brandon McCarthy",
               "Francisco Liriano",
               "Hiroki Kuroda",
               "Joe Blanton",
               "Joe Saunders",
               "Kevin Correia",
               "Paul Maholm",
               "Ryan Dempster",
               "Shaun Marcum",
               "Anibal Sanchez",
               "Brett Myers",
               "Hisashi Iwakuma",
               "Jeremy Guthrie",
               "Zack Greinke"]

In [431]:
free_agent_df = Actual13_df.loc[Actual13_df["NAME"].isin(free_agents)]

In [693]:
display(free_agent_df)

,NAME,IP_fans,RA9_fans,IP_marcel,RA9_marcel,IP_rotochamp,RA9_rotochamp,IP_zips,RA9_zips,playerID,...,debut,finalGame,retroID,bbrefID,deathDate,birthDate,IP,RA9,IP_pred_2013,RA9_pred_2013
9,Andy Pettitte,145,4.018068,97.7,3.909177,140,3.571616,90.3,4.453631,pettian01,...,1995-04-29,9/28/2013,petta001,pettian01,NaN,1972-06-15,185.333333,4.127698,135.470901,4.273118
10,Anibal Sanchez,197,4.039846,177.7,4.137848,200,3.974512,185.0,4.606078,sanchan01,...,2006-06-25,9/26/2014,sanca004,sanchan01,NaN,1984-02-27,182.000000,2.769231,146.427109,4.734696
14,Bartolo Colon,135,4.322962,151.0,4.214071,120,4.410075,127.0,4.475409,colonba01,...,1997-04-04,9/28/2014,colob001,colonba01,NaN,1973-05-24,190.333333,2.837128,160.619171,4.014204
21,Brandon McCarthy,158,3.680507,132.7,3.843843,130,4.301184,118.7,4.214071,mccarbr01,...,2005-05-22,9/23/2014,mccab001,mccarbr01,NaN,1983-07-07,135.000000,4.733333,154.394836,4.296455
25,Brett Myers,178,4.518965,90.3,4.344740,150,4.181404,178.0,4.627856,myersbr01,...,2002-07-24,4/19/2013,myerb001,myersbr01,NaN,1980-08-17,21.333333,8.015625,159.929016,4.669268
63,Francisco Liriano,163,4.595189,147.7,5.106975,160,5.019863,154.7,4.050735,liriafr01,...,2005-09-05,9/27/2014,lirif001,liriafr01,NaN,1983-10-26,161.000000,3.018634,117.492905,4.956975
73,Hiroki Kuroda,198,3.952734,190.3,3.811176,180,3.647839,186.0,4.638745,kurodhi01,...,2008-04-04,9/25/2014,kuroh001,kurodhi01,NaN,1975-02-10,201.333333,3.531457,149.573486,4.319222
74,Hisashi Iwakuma,179,4.028957,106.3,3.865621,160,3.985401,128.3,4.203182,iwakuhi01,...,2012-04-20,9/26/2014,iwakh001,iwakuhi01,NaN,1981-04-12,219.666667,2.827011,136.670227,4.657415
92,Jeremy Guthrie,196,4.704080,169.0,4.812970,195,4.769414,163.7,4.791192,guthrje01,...,2004-08-28,9/26/2014,guthj001,guthrje01,NaN,1979-04-08,211.666667,4.209449,124.964195,4.847713
98,Joe Blanton,172,4.943639,157.3,5.041641,170,4.497187,130.3,4.889194,blantjo01,...,2004-09-21,9/3/2013,blanj001,blantjo01,NaN,1980-12-11,132.666667,6.512563,125.019501,5.208083
100,Joe Saunders,197,4.540743,168.7,4.420964,200,4.366518,164.7,4.704080,saundjo01,...,2005-08-16,9/26/2014,saunj001,saundjo01,NaN,1981-06-16,183.000000,5.754098,169.191879,4.417249
118,Kevin Correia,159,5.052530,158.0,4.900083,150,5.030752,135.0,5.880099,correke01,...,2003-07-10,9/22/2014,corrk001,correke01,NaN,1980-08-24,185.333333,4.321942,130.500351,5.348507
145,Paul Maholm,181,4.181404,170.3,4.312073,170,4.268517,168.0,4.377407,maholpa01,...,2005-08-30,8/1/2014,mahop002,maholpa01,NaN,1982-06-25,153.000000,4.823529,159.444412,4.293046
155,Ryan Dempster,190,4.246739,167.0,4.399186,200,4.366518,163.0,4.867416,dempsry01,...,1998-05-23,9/29/2013,dempr002,dempsry01,NaN,1977-05-03,171.333333,5.095331,167.072037,4.298447
163,Shaun Marcum,159,4.083402,142.3,4.061624,155,4.235849,161.7,3.756730,marcush01,...,2005-09-06,7/6/2013,marcs001,marcush01,NaN,1981-12-14,78.333333,5.514894,147.313599,4.896050
190,Zack Greinke,209,3.582505,183.7,4.105181,200,4.072513,203.3,3.375613,greinza01,...,2004-05-22,9/28/2014,greiz001,greinza01,NaN,1983-10-21,177.666667,2.735460,190.279419,4.398066

### More data prep

In [684]:
drop_list_real = ['NAME',
            'playerID',
            'nameFirst',
            'nameLast',
            'nameGiven',
            'retroID',
            'bbrefID',
            'GIDP', 
            'debut',
            'birthDate',
            'birthCountry',
            'birthCity',
            'birthDay',
            'birthMonth',
            'finalGame',
            'birthState',
            'deathYear',
            'deathMonth',
            'deathDay',
            'deathCountry',
            'deathCity',
            'deathState',
            'deathDate',
            'yearID', 
            'stint', 
            'teamID',
            'lgID', 
            'bats', 
            'throws',
            'IP_pred_2013', 
            'RA9_pred_2013'
            ]

In [685]:
X_real = free_agent_df.drop(drop_list_real,axis= 1)
X_real.drop(['IP','RA9'],axis= 1,inplace=True) # Drop our DVs

y_real_ip = free_agent_df['IP']
y_real_ra9 = free_agent_df['RA9']

In [686]:
X_real.columns

Index(['IP_fans', 'RA9_fans', 'IP_marcel', 'RA9_marcel', 'IP_rotochamp',
       'RA9_rotochamp', 'IP_zips', 'RA9_zips', 'W', 'L', 'G', 'GS', 'CG',
       'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp', 'ERA',
       'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'birthYear',
       'weight', 'height'],
      dtype='object')

In [450]:
X_real['BFP_fans'] = (X_real['RA9_fans']/9) + (X_real['IP_fans']*3)
X_real['BFP_marcel'] = (X_real['RA9_marcel']/9) + (X_real['IP_marcel']*3)
X_real['BFP_zips'] = (X_real['RA9_zips']/9) + (X_real['IP_zips']*3)
X_real['BFP_rotochamp'] = (X_real['RA9_rotochamp']/9) + (X_real['IP_rotochamp']*3)

In [441]:
res_train = encode_and_bind(X_real, enc_list)

In [442]:
X_real = res_train

In [687]:
X_real.drop(pred_drop_list,axis= 1,inplace=True)

In [688]:
# Our number of columns aren't matching up because there are no Diamondbacks in the training data...
a = X_train.columns.difference(X_real.columns)
print (a)

Index([], dtype='object')

In [454]:
X_real = X_real.sort_index(axis=1)

In [452]:
X_real['bats_B'] = 0
X_real['teamID_BAL'] = 0
X_real['teamID_CHA'] = 0
X_real['teamID_CHN'] = 0
X_real['teamID_CIN'] = 0
X_real['teamID_COL'] = 0
X_real['teamID_HOU'] = 0
X_real['teamID_MIA'] = 0
X_real['teamID_MIL'] = 0
X_real['teamID_PHI'] = 0
X_real['teamID_SDN'] = 0
X_real['teamID_SFN'] = 0
X_real['teamID_SLN'] = 0
X_real['teamID_TBA'] = 0
X_real['teamID_TEX'] = 0
X_real['teamID_TOR'] = 0
X_real['teamID_WAS'] = 0

### Apply the model

In [689]:
xgb_pred_ip = xgb_model_ip.predict(X_real)

ValueError: feature_names mismatch: ['IP_fans', 'IP_marcel', 'IP_rotochamp', 'IP_zips', 'RA9_fans', 'RA9_marcel', 'RA9_rotochamp', 'RA9_zips', 'birthYear', 'height', 'weight'] ['IP_fans', 'RA9_fans', 'IP_marcel', 'RA9_marcel', 'IP_rotochamp', 'RA9_rotochamp', 'IP_zips', 'RA9_zips', 'birthYear', 'weight', 'height']

In [456]:
xgb_pred_ra9 = xgb_model_ra9.predict(X_real)

## Actual Eval

In [ ]:
# How did our model do on the test data?
accuracy(free_agent_df["IP"], free_agent_df["IP_pred_2013"])

In [ ]:
# How did our model do on the test data?
accuracy(free_agent_df["RA9"], free_agent_df["RA9_pred_2013"])

In [691]:
print("Accuracy of IP_fans is:")
accuracy(free_agent_df["IP"], free_agent_df["IP_fans"])
print("Accuracy of IP_marcel is:")
accuracy(free_agent_df["IP"], free_agent_df["IP_marcel"])
print("Accuracy of IP_rotochamp is:")
accuracy(free_agent_df["IP"], free_agent_df["IP_rotochamp"])
print("Accuracy of IP_zips is:")
accuracy(free_agent_df["IP"], free_agent_df["IP_zips"])

Accuracy of IP_fans is:

Accuracy of IP_marcel is:

Accuracy of IP_rotochamp is:

Accuracy of IP_zips is:

In [690]:
print("Accuracy of RA9_fans is:")
accuracy(free_agent_df["RA9"], free_agent_df["RA9_fans"])
print("Accuracy of RA9_marcel is:")
accuracy(free_agent_df["RA9"], free_agent_df["RA9_marcel"])
print("Accuracy of RA9_rotochamp is:")
accuracy(free_agent_df["RA9"], free_agent_df["RA9_rotochamp"])
print("Accuracy of RA9_zips is:")
accuracy(free_agent_df["RA9"], free_agent_df["RA9_zips"])

Accuracy of RA9_fans is:

Accuracy of RA9_marcel is:

Accuracy of RA9_rotochamp is:

Accuracy of RA9_zips is:

## Exporting for Reporting

In [468]:
free_agent_df['IP_pred_2013'] = xgb_pred_ip

In [469]:
free_agent_df['RA9_pred_2013'] = xgb_pred_ra9

In [475]:
free_agent_df.to_csv('free_agent_preds.csv')